<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<context-param>
		<param-name>name</param-name>
		<param-value>liss</param-value>
	</context-param>
	<context-param>
		<param-name>age</param-name>
		<param-value>24</param-value>
	</context-param>

	<listener>
		<listener-class>
			com.liss.servlet.listener.FirstServletContextListener
		</listener-class>
	</listener>
	
	<listener>
		<listener-class>
			com.liss.servlet.listener.FirstHttpSessionListener
		</listener-class>
	</listener>
	
	<filter>
		<filter-name>FirstFilter</filter-name>
		<filter-class>com.liss.servlet.filter.FirstFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FirstFilter</filter-name>
		<url-pattern>*</url-pattern>
		<!-- 请求分派器 -->
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<servlet>
		<servlet-name>FirstServlet</servlet-name>
		<servlet-class>com.liss.servlet.action.FirstServlet</servlet-class>
		<init-param>
			<param-name>firstname</param-name>
			<param-value>lis</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>FirstServlet</servlet-name>
		<url-pattern>/FirstServlet</url-pattern>
	</servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/errorPage.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/errorPage.jsp</location>
	</error-page>	

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>